# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized.

__Objectives:__
* List popular languages for Data Science.
* List of commonly used libraries by Data Scientists.
* Some of the Data Sciece Tools used in deployment environment.
* The task categories of Data Science.
* Architecture of Relational Database.

Some of the commonly used libraries used by Data Scientists inlcude:
1. R
2. Python
3. JavaScript

Some of the commonly used libraries used by Data Scientists include:

* PyTorch
* Scikit-learn
* Keras

| Data Science Tools|
|-------|
|Jupyter Notebooks
|R studio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [12]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [18]:
minutes =200
y=60
hours=minutes/y

print (hours)

3.3333333333333335

## Author
Chee Kwok